<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<form th:action="@{/SaveCreditApplication}"
		th:object="${creditApplication}" method="post">
		<span th:text="*{creditApplicationId}" /><br>
		<span th:text="*{applicationDate}" />
		<table border="1">
			<tr>
				<td><label th:text="Vorname" /></td>
				<td><input value="Max" type="text" th:field="*{firstName}" /></td>
			</tr>
			<tr>
				<td><label th:text="Nachname" /></td>
				<td><input type="text" th:field="*{lastName}" value="Mustermann"/></td>
			</tr>
			<tr>
				<td><label th:text="Wohnort" /></td>
				<td><input type="text" th:field="*{city}" value="Frankfurt"/></td>
			</tr>
			<tr>
				<td><label th:text="Einnahmen" /></td>
				<td><input type="number" th:field="*{monthlyIncome}" value="5000"/></td>
			</tr>
			<tr>
				<td><label th:text="Ausgaben" /></td>
				<td><input type="number" th:field="*{monthlyExpenditure}" value="1000"/></td>
			</tr>
			<tr>
				<td><label th:text="'gewünschter Kreditbetrag'" /></td>
				<td><input type="number" th:field="*{creditSum}" value="1000"/></td>
			</tr>
			<tr>
				<td><input type="submit" value="zahlungspflichtig Kaufen" /></td>
			</tr>
		</table>
	</form>

</body>
</html>